<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report of {{name}}</title>

    <style>
        @font-face {
            font-family: Cairo; 
            src: url('faculty/font/arabic/Cairo.ttf')
        }

        table{
            font-family: Cairo;
            border: 1px solid black;
            text-align: center;
            font-size: 15px;
            
            padding-top: 5px

        }
        .center-th,  tr:first-child th{
            background-color: grey;
            color:#e7e7e7;
            font-wieght:bold;
        }

        .center-th {
            font-size: 16px;
        }

        .table-header{
            font-size: 20px;
        }

    </style>
</head>
<body>
    <table >
    <pdf:language name="arabic"/>  
        <thead >
            <tr>
                <th colspan=2 class='table-header'>{{name}}</th>
            </tr>
            <tr>
                <th>Services Count</th>
                <td>{{all_services_no}}</td>
            </tr>
        </thead>
        <tbody>
        {{center_services}}
        {% for center in center_services %}
        
            <tr>
                <td colspan=2 class='center-th'>{{center}}</td>
            </tr>
            <tr>
                <th>
                    {{center | pprint}}
                </th>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</body>
</html>