<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style_pdf %}
    <style>
        table {
            border:1px  black solid;
        }

        tr {
            text-align: center;
        }

        th {
            width:35%;
            height: 22px;
            font-size:14px;
            vertical-align: bottom;
            padding: 2.9px  0 0 0 ; 
        }
        
        td {
            width:35%;
            height: 20px;
            vertical-align: bottom;
        }

    </style>
    {% endblock style_pdf %}
    
    <title>CSMS Report</title>
</head>

<body>

    {% block pdf_table %}
    <table >
        <thead>
            <tr>
            <th colspan={{title_len}}>
                    {{title}}
            </th >
            </tr>
            <tr>
            {% for head in heades   %}
                <th>{{head.capitalize}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
                {% if context %}
                    {% for row in context  %}
                        <tr> 
                        {% for data in row %}
                            <td>
                            {{data}}
                            </td>
                        {% endfor %}                            
                        </tr>
                    {% endfor %}                

                {% else %}
                    <tr>
                        <td> No info </td>
                        <td> No info </td>
                        <td> No info </td>
                    </tr>
                {% endif  %}
            
            </tbody>
        </table>
{% endblock pdf_table %}

</body>

</html>